{{#if notification}}
	<div class='notification align-center'>{{notification}}</div>
{{/if}}

<h2 class='page-title'>Available Surveys</h2>

<div class='cards-list'>
	{{#if data}}
		{{#each data}}
			<div class='card'>
				<div class='title'>
					<img src='/logo.svg' alt='Survey' class='icon' />
					<span>{{cutWords title 35}}</span>
				</div>
				<div class='desc'>
					<strong>Description:</strong>
					{{cutWords description 30}}
				</div>
				<a href='/survey/{{_id}}'>View Survey</a>
			</div>
		{{/each}}
	{{/if}}

</div>
<div class='pagination align-center'>
	{{#if (gt page 1)}}
		<a href='/?page={{decrement page}}'>&laquo; Prev</a>
		<span>Page {{page}} of {{totalPages}}</span>
	{{/if}}

	{{#if (lt page totalPages)}}
		<a href='/?page={{increment page}}'>Next &raquo;</a>
	{{/if}}
</div>