<div class='surveyList'>

	{{#if data}}
		{{#each data}}

			<div class='surveyCard'>
				<p>
					name:
					{{title}}
					<br />
					description:
					{{description}}
				</p>
				<div class='surveyButtons'>
					<button><a href='/survey/{{_id}}'>details</a></button>
					<button><a href='/survey/{{_id}}/edit'>edit</a></button>
					<button><a href='/survey/{{_id}}/delete'>delete</a></button>
				</div>

			</div>

		{{/each}}
	{{else}}
		<p>no surveys</p>
	{{/if}}
</div>