<div>
	{{#if data}}
		<h2>{{title}}</h2>
		<p><strong>Description:</strong> {{description}}</p>

		<form method='POST' action='/survey/{{data._id}}/vote' class="form-survey">
			{{#each data.questions}}
				<div class='question-block margin-5'>
					<p><strong> {{this.text}}</strong></p>
					{{#each this.answers}}
						<label class="cursorPointer">
							<input
								type="radio"
								name="question-{{@../index}}"
								value="{{this.text}}"
								required
							/>
							{{this.text}}
						</label>
					{{/each}}
				</div>
			{{/each}}
			<button type='submit' class="padding-5 margin-5">Submit</button>
		</form>
	{{else}}
		<p>Error: survey not found.</p>
	{{/if}}
</div>