<div class="form-survey">
		<h2>{{title}}</h2>
		<p><strong>Description:</strong> {{description}}</p>

		<form method='POST' action='/survey/{{data._id}}/vote' >
			{{#each data.questions}}
				<div class='question-block margin-5'>
					<h3><strong> {{this.text}}</strong></h3>
					{{#each this.answers}}
						<label class="cursorPointer answer-option">
							<input
								type="radio"
								name="question-{{@../index}}"
								value="{{this.text}}"
								required
							/>
							{{this.text}}
						</label>
					{{/each}}
				</div>
			{{/each}}
			<button type='submit' class="button">Submit</button>
		</form>
</div>