<div class='viewSurvey--wrapper'>
	{{#if data}}
		<span>
			<strong>
				Name:
			</strong>
			{{title}}
		</span>
		<span>
			<strong>
				Description:
			</strong>
			{{description}}
		</span>
		<span>
			<strong>
				CreatedAt:
			</strong>
			{{dateFix data.createdAt}}
		</span>
		<h3 class='align-center'>
			Questions
		</h3>

		<div class='charts'>

			{{#each questionData}}
				<div class='question-block'>
					<h4>{{text}}?</h4>
					<canvas
						id='myChart-{{@index}}'
						width='600'
						height='400'
						data-labels='{{{labels}}}'
						data-votes='{{{votes}}}'
					>
					</canvas>
				</div>
			{{/each}}

		</div>

		<div>
		</div>
	{{else}}
		<p>
			Error: try to refresh this page
		</p>
	{{/if}}

	<script src='https://cdn.jsdelivr.net/npm/chart.js' defer></script>
	<script src='/js/surveyChart.js' defer></script>
</div>